@charset "utf-8";

/* forma individual */
h1 {
   padding: 10px;
   text-align: center;
   border-width: 3px;
   border-style: solid;
   border-top-color: #f00;
   border-right-color: #0f0;
   border-bottom-color: #00f;
   border-left-color: #000;
}

/* forma abreviada */
p {
   padding: 10px;
   text-align: center;
   border-width: 5px;
   border-style: solid;
   /* forma abreviada de excrever as regras css */
   border-color: #f00 #0f0 #00f #000;
}