@charset "utf-8";

/* bordas individuais */
h1 {
   text-align: center;
   border: 3px;
   border-top-style: solid;
   border-right-style: dashed;
   border-bottom-style: dotted;
   border-left-style: double;
}

/* bordas abreviadas */
p {
   text-align: center;
   border: 3px;
   border-style: solid dashed dotted double;
}