@charset "utf-8";

h2 {
   text-align: center;
   padding: 10px;
   border-top-width: 1px;
   border-right-width: 2px;
   border-bottom-width: 3px;
   border-left-width: 4px;
   border-style: solid;
   border-color: #00f;
}

/* estilo abreviado */
h1 {
   text-align: center;
   padding: 10px;
   border-style: solid;
   border-color: #00f;
   border-width: 1px 2px 3px 4px;
}