@charset "utf-8";

* {
   margin: 0;
   padding: 0;
}

body {
   /* cor do fundo */
   background-color: lightcyan;
   margin: 5px;
}

header, footer {
   background:  lightskyblue;
   color: blue;
   text-align: center;
   padding: 3px;
}

footer {
   padding: 5px;
}

table {
   background:  lightblue;
}

/* 
   Esta é uma folha de estilos CSS: 
   ela adiciona estilo na saída do programa
*/  

.output {font-weight: bold;} /* Valores calculados em negrito */  

#payment {text-decoration: underline;} /* Para elemento com id="payment" */  

#graph {border: solid black 1px;} /* O gráfico tem borda simples */  

th, td {vertical-align: top;} /* Não centraliza células da tabela */  