@charset "utf-8";

/*
   Estamos estilizando o corpo aqui.
*/
body {
   background: lightcyan; /* Define a cor do fundo com a cor azul clara */
   width: 800px; /* define a largura do corpo para 800 pixel */
   margin: auto; /* coloca o conteúdo do corpo no centro da página. */
   color: #ff0000; /* Define a cor do primeiro plano co vermelho */
}

h1 {
   color: maroon;
   text-align: center;
}

p {
   color: gray;
   border: 1px solid gray;
   padding: 10px;
}