@charset "utf-8";

/* seletor universal */
* {
   margin: 5px 0;
   padding: 0;
   background-color: #000;
   color: #fff;
   box-sizing: border-box;
}

h1, h2, h3, footer {
   width: 800px;
   background-color: #00ffff;
   color: #0000ff;
   margin: 5px auto;
   text-align: center;
   padding: 8px;
}

p, pre {
   width: 800px;
   background-color: #fff;
   color: #0000ff;
   margin: 5px auto;
   font-size: 25px;
}

mark {
   background-color: #ffff00;
   color: #000;
   font-weight: bold;
}

/* seletor de atributo usando a 
(propriedade e o valor [title="primeiro"]), 
desta maneira apenas o parágrafo que está 
com esse atributo sera afetado por essa 
regra CSS. */
[title="primeiro"] {
   color: #ff0000; /* letras vermelhas */
   font-size: 30px; /* tamanho das letras 30 pixel. */
}